
.pista{
    display: flex;
    height: 100px;
    padding: 10px;
}
/*Los box son los div que representa las casillas por donde se puede mover el jugador*/
.box-llena{/*casillero con slime*/
    position: relative;
    background: green;
    background-image: url('../img/piso.jpg');
    background-size: cover;
    width: 80px;
    height: 80px;
    border: 0px;
    border-left: 2px dashed #400907;
    border-top:2px dashed #400907 ;
    border-bottom: 2px dashed #400907;
}
/*after o before crean un pseudoelemto en linea(como el <spam>) el cual solo le afecta el css*/
.box-llena::after{/*slime*/
    position: absolute;
    content: '';
    background-image: url('../img/slimeIdle.png');
    width: 80%;
    height: 80%;
    left: 5px;
    top: 0;
    animation: sprite 1.5s steps(7) infinite;
    transform: scale(1);
}
.box-vacia{/*casillero sin slime*/
    background: lightseagreen;
    background-image: url('../img/piso.jpg');
    background-size: cover;
    width: 80px;
    height: 80px;
    border: 0px;
    border-left: 2px dashed #400907;
    border-top:2px dashed #400907 ;
    border-bottom: 2px dashed #400907;
}
.box-meta{/*casillero donde hay que llegar para ganar*/
    background: black;
    background-image: url('../img/meta2.png');
    background-size: cover;
    width: 80px;
    height: 80px;
    overflow: hidden;
    position: relative;
}
.box-meta-llena{/*casillero (con el slime) donde hay que llegar para gana */
    position: relative;
    background: black;
    background-image: url('../img/meta2.png');
    background-size: cover;
    width: 80px;
    height: 80px;
    overflow: hidden;
    position: relative;
    border-left: 2px dashed black;
    border-top:2px dashed black ;
    border-bottom: 2px dashed black;
}
.box-meta-llena::before{/*slime*/
    position: absolute;
    content: '';
    background-image: url('../img/slimeIdle.png');
    width: 80%;
    height: 80%;
    left: 5px;
    top: 0;
    animation: sprite 1.5s steps(7) infinite;
}
/*keyframes para hacer la animacion del slime (idle)"*/
@keyframes sprite {
    0%{/*tiempo 0*/
        background-position-x: 0px;/*mueve el background en el eje x para mostrar los distintos sprite */
    }
    50%{/*mitad del tiempo*/
        background-position-x: -448px;
    }
    100%{/*tiempo completo*/
        background-position-x: 0px;
    }
}

